@import "tailwindcss";

@theme {
  --color-background: #1e201f;

  --color-foreground: #fcfcfe;

  --font-Poppins: "Poppins", serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-Poppins;
  }
}
