---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
  <div class="flex flex-col gap-6 w-full max-w-[700px] mt-20 text-lg">
    <section class="flex flex-col gap-2">
      <h1 class="text-7xl">Gaurav Kumar Karki</h1>
      <span class="text-2xl text-foreground/70">Software Engineer</span>
    </section>
    <p class="flex flex-col">
      <span>Hi,</span>
      I am a software engineer based in Melbourne, Australia. I have about 3 years
      of professional software development experience primarily in web application
      development.
    </p>
  </div>
</IndexLayout>
