---
import { cn } from "../utils/cn";

interface NavItem {
  label: string;
  link: string;
}

const navItems: NavItem[] = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "Work",
    link: "/work",
  },
  {
    label: "Blogs",
    link: "/blogs",
  },
];

const currentPath = Astro.url.pathname;
---

<nav class="flex flex-row gap-4 justify-end w-full items-center p-4">
  {
    navItems.map((item) => (
      <a
        href={item.link}
        class={cn(
          "hover:underline underline-offset-4",
          currentPath === item.link && "underline"
        )}
      >
        {item.label}
      </a>
    ))
  }
</nav>
